{% extends 'layouts/componentDemo.twig' %}

{% block body %}
  <h2 class="text-lg font-semibold mb-6 mt-2 text-center">Button Demo</h2>
  {% include 'atoms/Button/Button.html.twig' with button only %}
{% endblock %}
