{% extends 'layouts/componentDemo.twig' %}

{% block body %}
  <h2 class="text-lg font-semibold mb-6 mt-2 text-center">Label Demo</h2>
  {% include 'atoms/Label/Label.html.twig' with label only %}
{% endblock %}
