{% extends 'layouts/componentDemo.twig' %}

{% block body %}
  <h2 class="text-lg font-semibold mb-6 mt-2 text-center">Password Input Demo</h2>
  {% include 'molecules/PasswordInput/PasswordInput.html.twig' with passwordInput only %}
{% endblock %}
