<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      Vanilla JS Test
    </title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body>
    <main class="max-w-3xl mx-auto">
      {% block body %}

      {% endblock %}
    </main>

    <script src="/build/app.js"></script>
  </body>
</html>
