<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      Component Demo
    </title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body>
    <main class="max-w-3xl mx-auto">
      <section id="auth-form-container" aria-label="Component Demo">
        {% block body %}

        {% endblock %}
      </section>
    </main>

    <script src="/build/app.js"></script>
  </body>
</html>
